@model OnlineShop.Core.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
    <form asp-controller="Home" asp-action="Index" method="get">
        <p>
            <input class="input" type="text" name="searchString" placeholder="Search products">
            <input class="btn header-btn mybtn" type="submit" value="Search" />
        </p>
       
    </form>

@*<h1>Categorys</h1>

@foreach (var item in Model.productCategories)
{
    <div class="col-md-4" style="height:350px;width:350px;padding:10px; border:solid thin whitesmoke ;background-size:500px;background-image:url('/Content/CategoryImages/@item.Image')">

        <div class="col-md-12">

            <strong>@Html.ActionLink(item.CategoryName, "Sort", new { categoryName = item.CategoryName })</strong>



        </div>

    </div>

}

@foreach (var item in Model.products)
{
    <div class="col-md-4" style="height:450px; padding:10px; margin:10px; border:solid thin whitesmoke">
        <div class="col-md-12">
            <img class="img" style="height:250px" src="~/Content/ProductImages/@item.Image" />
        </div>
        <div class="col-md-12">
            <strong>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</strong>
        </div>
        <div class="col-md-12">
            <p>@item.Description</p>
        </div>
        @if (item.Discount != 0 )
        {
            <div class="col-md-12">
                <h4 style="color:red">@item.Discount % Discount</h4>
            </div>
            <div class="col-md-12">
                <h4 style="text-decoration:line-through">@(item.Price*100/(100-item.Discount))</h4>
            </div>
            <div class="col-md-12">

                <h4 style="color:forestgreen"> @item.Price</h4>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <h4>@item.Price</h4>
            </div>

        }

    </div>

}
<div class="col-md-12 clearfix">*@







    @*<h1>Products</h1>*@




    <main>

        <!-- slider Area Start -->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height blue" data-background="~/Scripts/assets/img/hero/h1_hero.jpg">
                    <div class="container">
                        <div class="row d-flex align-items-center justify-content-between">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                                <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                    <img src="~/Scripts/assets/img/hero/hero_man.png" alt="">
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInRight" data-delay=".4s">Up TO 60% Discount</span>
                                    <h1 data-animation="fadeInRight" data-delay=".6s">H&K <br> Household</h1>
                                    <p data-animation="fadeInRight" data-delay=".8s">It is just easy to feel comfortable at home!</p>
                                    <!-- Hero-btn -->
                                    @*<div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                        <a href="industries.html" class="btn hero-btn">Shop Now</a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slider-height" data-background="~/Scripts/assets/img/hero/h1_hero.jpg">
                    <div class="container">
                        <div class="row d-flex align-items-center justify-content-between">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                                <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                    <img src="~/Scripts/assets/img/hero/hero_man.png" alt="">
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInRight" data-delay=".4s">Up To 60% Discount</span>
                                    <h1 data-animation="fadeInRight" data-delay=".6s">H&K <br> Household</h1>
                                    <p data-animation="fadeInRight" data-delay=".8s">It is just easy to feel comfortable at home!</p>
                                    <!-- Hero-btn -->
                                    @*<div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                        <a href="industries.html" class="btn hero-btn">Shop Now</a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Category Area Start-->
        <section class="category-area section-padding30">
            <div class="container-fluid">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-85">
                            <h2>Shop by Category</h2>
                        </div>
                    </div>
                </div>
                <div class="row">

                    @foreach (var item in Model.productCategories)
                    {
                        <div class="col-md-4 kitchen" style="height:350px;width:150px;padding:10px; border:solid thin whitesmoke ;background-size:500px;background-image:url('/Content/CategoryImages/@item.Image')">

                            <div class="col-md-12 margin-up center">

                                <strong>@Html.ActionLink(item.CategoryName, "Sort", new { categoryName = item.CategoryName })</strong>


                            </div>

                        </div>

                    }

                    @*<div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img text-center">



                                <h2 class="kitchen">Living Room</h2>
                                <img class="kitchen" src="~/Scripts/assets/img/my/living-room.jpg" alt="">
                                <div class="category-caption">


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img text-center">

                                <h2 class="kitchen">Bedroom</h2>
                                <img class="kitchen" src="~/Scripts/assets/img/my/bedroom.jpg" alt="">
                                <div class="category-caption">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img text-center">
                                <h2 class="kitchen">Kitchen</h2>
                                <img class="kitchen" src="~/Scripts/assets/img/my/kitchen.jpg" alt="">
                                <div class="category-caption">


                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </section>
        <!-- Category Area End-->
        <!-- Latest Products Start -->
        <section class="category-area section-padding30" @*class="latest-product-area padding-bottom"*@>
            <div class="container-fluid" @*class="container"*@>
                <div class="row product-btn d-flex justify-content-end align-items-end">
                    <!-- Section Tittle -->
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="section-tittle mb-30">
                            <h2>Discount</h2>

                        </div>
                        <hr />
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-7">
                        <div class="properties__button f-right">

                        </div>
                    </div>
                    
                </div>
                <!-- Nav Card -->
                @*<div class="tab-content" id="nav-tabContent">*@
                    <!-- card one -->
                    @*<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">*@
                        <div class="row">

                            @foreach (var item in Model.products)
                            {
                                <div class="col-md-4 kitchen center" style="height: 350px; width: 150px; padding: 10px; @*border: solid thin whitesmoke*@">
                                    <div class="col-md-12">
                                        <img class="img" style="height:250px" src="~/Content/ProductImages/@item.Image" />
                                    </div>
                                    <div class="col-md-12">
                                        <strong>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</strong>
                                    </div>
                                    <div class="col-md-12">
                                        <p>@item.Description</p>
                                    </div>
                                    @if (item.Discount != 0)
                                    {
                                        <div class="col-md-12">
                                            <h4 style="color:red">@item.Discount % Discount</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <h4 style="text-decoration:line-through">@(item.Price*100/(100-item.Discount))</h4>
                                        </div>
                                        <div class="col-md-12">

                                            <h4 style="color:forestgreen"> @item.Price</h4>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-12">
                                            <h4>@item.Price</h4>
                                        </div>

                                    }

                                </div>

                            }





                            @*<div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-product mb-60">




                                    <div class="product-img">
                                        <img class="kitchen" src="~/Scripts/assets/img/my/couch.jpg" alt="">
                                        <div class="new-product">
                                        </div>
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Lenaverdi Sofa Group</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>5,499 SEK</li>
                                                <li class="discount">7,499 SEK</li>
                                            </ul>
                                            <br>
                                            <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                                <a href="industries.html" class="btn hero-btn">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img class="kitchen" src="~/Scripts/assets/img/my/bed.jpg" alt="">
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Roma Bed</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>7,999 SEK</li>
                                                <li class="discount">9,999 SEK</li>
                                            </ul>
                                            <br>
                                            <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                                <a href="industries.html" class="btn hero-btn">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img class="kitchen" src="~/Scripts/assets/img/my/dishwasher.jpg" alt="">
                                        <div class="new-product">
                                        </div>
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Electrolux Dishwasher</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>3,199 SEK</li>
                                                <li class="discount">4,199 SEK</li>
                                            </ul>
                                            <br>
                                            <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                                <a href="industries.html" class="btn hero-btn">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                        </div>
                    @*</div>*@
                    <!-- Card two -->

                @*</div>*@
                <!-- End Nav Card -->
            </div>
        </section>
        <!-- Latest Products End -->
        <!-- Latest Offers Start -->
        <div class="latest-wrapper lf-padding">
            <div class="latest-area latest-height d-flex align-items-center blue" data-background="~/Scripts/assets/img/collection/latest-offer.png">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-5 col-lg-5 col-md-6 offset-xl-1 offset-lg-1">
                            <div class="latest-caption">
                                <h2>Get Our<br>Latest Offers News</h2>
                                <p>Subscribe news latter</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-6 ">
                            <div class="latest-subscribe">
                                <form action="#">
                                    <input type="email" placeholder="Your email here">
                                    <button>Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- man Shape -->
                <div class="man-shape">
                    <img src="~/Scripts/assets/img/collection/latest-man.png" alt="">
                </div>
            </div>
        </div>
        <!-- Latest Offers End -->
        <!-- Shop Method Start-->
        <div class="shop-method-area section-padding30">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-package"></i>
                            <h6>Free Shipping Method</h6>
                            <p>We deliver your products for free!</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-unlock"></i>
                            <h6>Secure Payment System</h6>
                            <p>Feel safe when you place your bank card information!</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-reload"></i>
                            <h6>Return Guarantee</h6>
                            <p>Buy and return within 14 days open purchase!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
