@model IEnumerable<OnlineShop.Core.Product>
@{
    ViewBag.Title = "Home Page";
}

<h1 class="mission margin">Products</h1>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-md-4" style="height:520px; padding:10px; margin:10px; border:solid thin whitesmoke">
            <div class="col-md-12">
                <img class="img" style="height:250px" src="~/Content/ProductImages/@item.Image" />
            </div>
            <div class="col-md-12">
                <strong>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</strong>
            </div>
            <div class="col-md-12">
                <p>@item.Description</p>
            </div>
            @if (item.Discount != 0)
            {
                <div class="col-md-12">
                    <h4 style="color:red">@item.Discount % Discount</h4>
                </div>
                <div class="col-md-12">
                    <h4 style="text-decoration:line-through">@(item.Price*100/(100-item.Discount))</h4>
                </div>
                <div class="col-md-12">

                    <h4 style="color:forestgreen"> @item.Price</h4>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <h4>@item.Price</h4>
                </div>

            }


            <div class="col-md-12 top-margin">
                <a href="@Url.Action("AddToBasket", "Basket", new { Id=item.Id})" class="btn btn-default">Add to Basket</a>
            </div>
        </div>
    }
    <div class="col-md-12 clearfix"></div>


</div>